<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tank Game</title>
    <link rel="stylesheet" type="text/css" href="/spaceship/css/style.css">
</head>
<body>

    <canvas></canvas>
    <script src="/spaceship/js/animation.js"></script>
    <script src="/spaceship/js/component.js"></script>
    <script src="/spaceship/js/item.js"></script>
    <script src="/spaceship/js/bullet.js"></script>
    <script src="/spaceship/js/obstacles.js"></script>
    <script src="/spaceship/js/enemy.js"></script>
    <script src="/spaceship/js/app.js"></script>
</body>
</html>